/* Global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee9dc;
    font-family: 'Sul Sans', sans-serif;
}

h1 {
    font-family: 'Big Caslon';
    font-weight: 300;
    font-size: 54px;
    color: #98792a;
}

h2 {
    font-family: 'Big Caslon';
    font-weight: 300;
    font-size: 48px;
    color: #2a2a2a;
}


p {
    font-family: 'Sul Sans', sans-serif;
    font-size: 16px;
}

.content {
    padding: 16px;
}


/* styles for header */
header {
    border-bottom: 1px solid #395647;
    background-color: #eee9dc;
    z-index: 4;
}

header img {
    height: 65px;
}

header .links {
    display: flex;
    padding: 10px 20px;
}

.header-links {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 20px;
}

.header-links li {
    list-style: none;
}

.header-links a {
    color: #395647;
    text-decoration: none;
}

.header-links a:hover {
    text-decoration: underline;
    color: #6a9b7a;
}

/* sticky header */ 

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #395647;
    color: #eee9dc;
    transition: background-color 0.2s ease-in;
}

.sticky a {
    color: #eee9dc;
}

.sticky img {
    mix-blend-mode: screen;
}

.sticky + .content {
    padding-top: 90px;
}

/* styles for hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.hero-img {
    position: relative;
    left: 50px;
}

.hero-img .main-image {
    width: 470px;
    border-top-right-radius: 21%;
    border: 10px solid #eee9dc;
    z-index: 2;
    outline: 5px solid #f8f4e7;
}

.hero-copy {
    position: relative;
    right: 50px;
}

.main-image:hover {
    outline: 5px solid #395647;
    border: 10px solid #f8f4e7;
    box-shadow: 0px 12px 25px #000;
    transition: outline 0.5s ease-in, box-shadow 0.7s ease-in-out, border 0.5s ease-in-out;
}

.hero-copy p {
    margin-top: 5px;
    font-size: 18px;
    color: white;
    background-color: #395647;
    padding: 5px;
}

/* hero backdrop styles */

.backdrop {
    z-index: 1;
}

.backdrop::after {
    background-image: url('assets/bg.svg');
    display: block;
    background-repeat: no-repeat;
}

.backdrop-1::after {
    position: absolute;
    bottom: -25px;
    right: -46px;
    content: "";
    height: 265px;
    background-size: cover;
    z-index: -1;
    width: 115%;
}

.purple-bg {
    position: relative;
    z-index: 2;
}

.purple-bg::after {
    background-image: url('assets/purple-bg.svg');
}

.purple-bg-1::after {
    position: absolute;
    content: "";
    height: 137px;
    background-size: cover;
    z-index: -1;
    width: 100%;
    bottom: 67px;
    left: -8px;
}


/* container styles and block styles */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 175px 0;
}

.callout-blob {
    background: #664040;
    height: 50px;
    width: 50px;
    border: 2px solid #395647;
    border-radius: 100%;
}

.callout-block {
    display: flex;
    gap: 10%;
}

.callout-text p {
    margin: 15px 0 25px 0;
}

.callout-text a {
    border: 2px solid #395647;
    padding: 8px 20px;
    color: #395647;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-top-right-radius: 20px;
}

.callout-text a:hover {
    background: #98792a;
    border: 2px solid #395647;
    color: #f8f4e7;
    box-shadow: 8px -8px 0 #395647;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* green container */

.green-container {
    background-color: #395647;
    display: flex;
    justify-content: center;
    padding: 60px 75px;
    z-index: 1;
}

.green-link {
    text-align: right;
}

.green-link a {
    color: #F6BF38;
}

.ui {
    background-image:  url('assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.container-block h1, p {
    margin-bottom: 20px;
}

.container-block h1 {
    color: #eee9dc;
}

.container-block p {
    width: 540px;
    font-size: 24px;
    color: #eee9dc;
}

.portfolio-container {
    padding: 75px 10px;
}

.portfolio-container h2 {
    text-align: center;
    padding-bottom: 40px;
    color: #395647;
}

.portfolio-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.portfolio-grid img {
    width: 330px;
    border: 2px solid #395647;
}

.portfolio-copy {
    margin-top: 10px;
    color: #395647;
}

.portfolio-copy h4 {
    font-size: 18px;
    font-weight: 400;
    width: 50%;
}

.portfolio-link {
    position: relative;
    bottom: 20px;
}

.portfolio-link a {
    color: #395647;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.portfolio-link a:hover {
    color: #56394a;
    text-decoration: underline; 
    font-weight: 400;
    transition: color 0.2s ease-in;
}

.portfolio-link p {
    font-size: 14px;
    margin-bottom: 0;
    text-align: right;
}

.tag {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.tag p {
    font-size: 10px;
    background: #78BB99;
    padding: 5px 7px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 7px;
}

.tag p:hover {
    background-color: white;
    color: #6a9b7a;
    border: 1px solid #78BB99;
    transition: background-color 0.2s ease-in;
}

.tag a {
    text-decoration: none;
    color: black;
}

.tag .plus {
    background-color: #f6bf39;
}

.tag .plus:hover {
    background-color: #395647;
    border: 1px solid #000;
    color: #f6bf39;
}

/* styles for footer */

footer {
    background-color: #395647;
    height: 310px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-links {
    text-decoration: none;
}

.footer-links ul {
    display: inline-flex;
    gap: 15px;
    list-style: none;
    color: #eee9dc;
}

.footer-links a {
    color: #eee9dc;
    text-decoration: none;
    font-weight: normal;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #6a9b7a;
}

.logo {
    margin-top: 40px;
}

.logo img {
    height: 100px;
    margin: 10px 0;
}

.logo img:hover {
    mix-blend-mode: overlay;
    cursor: wait;
}

.copyright {
    margin-top: 90px;
    color: #eee9dc;
    font-size: 14px;
}

.copyright a {
    color: #eee9dc;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
    color: #6a9b7a;
}